extends ../layout

block content
	.container(style="margin-top:50px")
		.col-md-12
			.container(style="100%")
				video#my_video_1.video-js.vjs-default-skin.vjs-big-play-centered(controls,preload="auto",width="1100",height="800",data-setup='{"example_option":true}')
					source(src="#{movie.flash}",type='video/mp4')
		.col-md-5(style="marigin-top:100px;border-radius:0")
			.panel.panel-info
				.panel-heading(style="text-indent:150px;background:url(http://res.cloudinary.com/dyb29pfpm/image/upload/v1490272117/stock-photo-96340805_w3mz9l.jpg)")
					h3 简介
				.panel-body
					dl.dl-horizontal
						dt 名字
						dd=movie.title
						dt 教师
						dd=movie.doctor
						dt 国家
						dd=movie.country
						dt 语言
						dd=movie.language
						dt 年份
						dd=movie.year
						dt 简介
						dd=movie.summary			
		.col-md-7
			.panel.panel-info
				.panel-heading(style="background:url(http://res.cloudinary.com/dyb29pfpm/image/upload/v1490272117/stock-photo-96340805_w3mz9l.jpg)")
					h3 评论区
				.panel-body
					ul.media-list
						each item in comments
							li.media
								.pull-left
									a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{item.from._id}")
										img.media-odject(src=rc="http://7xsktl.com1.z0.glb.clouddn.com/u=2871058462,3794837019&fm=21&gp=0.jpg",width="40",height="40")
								.media-body
											h4.media-heading #{item.from.name}
									p #{item.content}
									if item.reply && item.reply.length > 0
										each reply in item.reply
											.media
												.pull-left
													a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}")
														img.media-odject(src="http://7xsktl.com1.z0.glb.clouddn.com/u=2871058462,3794837019&fm=21&gp=0.jpg",width="40",height="40")
												.media-body
													h4.media-heading #{reply.from.name} 
														span.text-info &nbsp;回复:
														&nbsp;#{reply.to.name}
													p #{reply.content}
									hr
						#comments
							form#commentForm(method="POST",action="/user/comment")
								input(type="hidden",name="comment[movie]",value="#{movie._id}")
								if(user)
									input(type="hidden",name="comment[from]",value="#{user._id}")
								.form-group
									textarea.form-control(name="comment[content]",row="3")
								if(user)
									button.btn.btn-primary(type="submit") 提交
								else

									a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录后评论


							hr
							hr


	script(src="/js/detail.js")
	script(src="/libs/video.js/dist/video.min.js",type="text/javascript")
