extends ../layout

block content
  img(src="http://res.cloudinary.com/dyb29pfpm/image/upload/v1490269792/stock-photo-201884497_qyti3l.jpg",style="width:100%;position:absolute;z-index:0;height:500px;opacity:0.5")
  .container(style="margin-top:50px")
    #carousel-example-generic.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#carousel-example-generic",data-slide-to="0")
        li(data-target="#carousel-example-generic",data-slide-to="1")
        li(data-target="#carousel-example-generic",data-slide-to="2")
      .carousel-inner#home(role="listbox")
        .item.active
          a(href="http://139.199.164.82:3000/movie/58da02a0490b8a61efb64cf3")
            img(src="../images/1.jpg",alt="1 slide")
          .carousel-caption 最热微积分教学
        .item
          a(href="http://139.199.164.82:3000/movie/58da039d490b8a61efb64cf5")
            img(src="../images/2.jpg",alt="2 slide")
          .carousel-caption 最热化学教学
        .item
          a(href="http://139.199.164.82:3000/movie/58da04b6490b8a61efb64cfb")
            img(src="../images/3.jpg",alt="3 slide")
          .carousel-caption 最热物理教学      
      a.left.carousel-control(href="../imooc/Hello#carousel-example-generic",role="button",data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(href="../imooc/Hello#carousel-example-generic",role="button",data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
  .container
    .col-md-4
      .news_head 新闻中心
        a.fr(href="#") More
      .pic_news
        a(href="#")
          img(src="../images/news.jpg")
        p <<新课程开课
        p 【名师】李开丁教授
        p 【主讲】高等数学
        p 【时间】10.10
    .col-md-4
      .news_head 新闻中心
        a.fr(href="#") More
      .pic_news
        a(href="#")
          img(src="../images/news.jpg")
        p <<新课程开课
        p 【名师】李开丁教授
        p 【主讲】高等数学
        p 【时间】10.10
    .col-md-4
      .news_head 新闻中心
        a.fr(href="#") More
      .pic_news
        a(href="#")
          img(src="../images/news.jpg")
        p <<新课程开课
        p 【名师】李开丁教授
        p 【主讲】高等数学
        p 【时间】10.10 
  .container
    .row
      each cat in categories
          h4 
            a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
          if cat.movies && cat.movies.length>0
            each item in cat.movies
              .col-md-2
                .thumbnail.image_size
                  a(href="/movie/#{item._id}")
                    if item.poster.indexOf('http')>-1
                      img(src="#{item.poster}", alt="#{item.title}")
                    else
                      img(src="/upload/#{item.poster}", alt="#{item.title}")
                  .caption
                    h4 #{item.title}
